# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Logs
logs/
*.log

# Env files
.env
.env.*

# Secrets/keys
config/rndc.key
traefik/acme/acme.json

# Local volumes
pihole/etc-pihole/
pihole/etc-dnsmasq.d/

# Docker
docker-compose.override.yml

# Misc
*.swp
*.swo

